#content-wrapper {
    width: 67%;
    margin-bottom: 150px;
}

header#page-header {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid @gray-light 1px;
}

#log-container {
    @input-height: 40px;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;

    pre {
        margin: 0;
        overflow-y: auto;
        color: #fff;
        border: none;
        border-radius: 0;
        padding: 30px;
        position: absolute;
        top: 0;
        width: 100%;
        bottom: @input-height;
        background-color: #333;
    }

    i {
        font-weight: bold;
        font-style: normal;
    }

    #writeLine-form {
        position: absolute;
        height: @input-height;
        bottom: 0;
        width: 100%;

        input {
            float: left;
            width: 80%;
//            display: block;
            height: @input-height;
            padding: 4px;
        }

        button {
            float: right;
            width: 20%;
            border-radius: 0;
            border: none;
            height: @input-height;
        }
    }
}

#serial-list {
    display: inline;
    width: 250px;
}


#jogging-container {
    @button-width: 47px;
    @button-height: 40px;
    @width: 3 * @button-width; // 3 times the size of a button
    @height: 3 * @button-height; // 3 times the size of a button

    .middle() {
        top: 50%;
        margin-top: -(@button-height / 2);
    }
    .center() {
        left: 50%;
        margin-left: -(@button-width / 2);
    }

    position: relative;
    width: @width;
    height: @height;
    margin-bottom: 20px;

    button {
        position: absolute;
    }
    #go-home {
        .middle();
        .center();
    }
    #jog-left {
        .middle();
        left: 0;
    }
    #jog-right {
        .middle();
        right: 0;
    }
    #jog-up {
        .center();
        top: 0;
    }
    #jog-down {
        .center();
        bottom: 0;
    }
}

#write {
    height: 200px;
}


#gcode-viewer {
    border: solid #ddd 2px;
    margin-top: 30px;
}